.charts-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    &.active {
        display: flex;
        animation: fade-bottom 0.5s ease-in-out;
    }
    .close {
        position: absolute;
        top: 10px;
        right: 5px;
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.warning {
    display: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    @media (max-width: 850px) {
        display: flex;
    }
}

.body {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 450px) {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0;
    }
    @media (max-width: 850px) {
        display: none;
    }
    .charts-body-container {
        max-width: 900px;
        min-height: 80vh;
    }
    .child-gradient {
        border: none !important;
        background: rgb(148, 74, 190);
        background: linear-gradient(
            200deg,
            rgba(148, 74, 190, 1) 0%,
            rgba(155, 69, 172, 1) 46%,
            rgba(189, 53, 99, 1) 76%,
            rgba(227, 50, 39, 1) 100%
        );
    }
    .charts-body {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(20, 50px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        max-height: 80vh;
        max-width: 900px;
        .charts-child {
            border: solid rgb(148, 74, 190) 2px;
            overflow: hidden;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition:
                scale 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out;
            &:hover {
                box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);
                scale: 1.03;
            }
            .title {
                padding: 0.8rem;
            }
            .purple-text {
                background: linear-gradient(
                    200deg,
                    rgba(148, 74, 190, 1) 0%,
                    rgba(155, 69, 172, 1) 46%,
                    rgba(189, 53, 99, 1) 76%,
                    rgba(227, 50, 39, 1) 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
                font-size: 2.5rem;
            }
            &.movies {
                position: relative;
                .small-text {
                    position: absolute;
                    bottom: 0px;
                    color: white;
                    background: rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(3px);
                    width: 100%;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .big-number {
            .small-text {
                font-size: 0.8rem;
                margin-top: -10px;
            }
            .big-text {
                font-weight: bold;
                font-size: 2.5rem;
            }
        }
        .charts-header {
            grid-column: span 20;
            grid-row: span 1;
            min-height: 50px !important;
        }
        .charts-movies {
            grid-column: span 3;
            grid-row: span 3;
        }
        .charts-first {
            grid-column: span 5;
            grid-row: span 3;
        }
        .charts-last {
            grid-column: span 5;
            grid-row: span 3;
        }
        .charts-countries {
            grid-column: span 7;
            grid-row: span 5;
            .podium {
                position: relative;
                display: flex;
                flex-direction: row;
                width: 75%;
                height: 100%;
                gap: 0 !important;
                justify-content: unset !important;
                align-items: end !important;
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex: 1;
                    position: relative;
                }
                img {
                    position: absolute;
                    top: -3.2rem;
                }
                p {
                    position: absolute;
                    top: 0.8rem;
                    font-size: 1.2rem;
                    margin: 0;
                    padding: 0;
                }
                span {
                    position: absolute;
                    bottom: 0.2rem;
                    font-size: 0.8rem;
                    margin: 0;
                    padding: 0;
                    color: rgba(255, 255, 255, 0.34);
                }
                .podium-first {
                    min-height: 65%;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    background-color: rgb(148, 74, 190);
                }
                .podium-second {
                    min-height: 45%;
                    border-top-left-radius: 10px;
                    background-color: rgb(148, 74, 190);
                }
                .podium-third {
                    min-height: 30%;
                    border-top-right-radius: 10px;
                    background-color: rgb(148, 74, 190);
                }
            }
        }
        .charts-hours {
            grid-column: span 5;
            grid-row: span 2;
        }
        .charts-day {
            grid-column: span 8;
            grid-row: span 2;
        }
        .charts-genres {
            grid-column: span 8;
            grid-row: span 5;
            min-height: 270px;
            .recharts-responsive-container {
                translate: 0 4px;
                scale: 1.005;
                g {
                    position: relative;
                    text {
                        font-size: 0.8rem;
                        fill: rgba(255, 255, 255, 1);
                    }
                }
                path {
                    stroke: rgba(148, 74, 190, 1);
                    stroke-width: 3;
                }
            }
        }
        .charts-top {
            grid-column: span 12;
            grid-row: span 5;
            .top-movies {
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: calc(100% - 2rem);
                height: 100%;
                overflow-x: hidden;
                padding: 0.5rem;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                translate: 0 -15px;
            }
            .top-movie {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                max-width: calc(100% / 5);
                height: 100%;
                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);
                }
                .top-movie-rating {
                    translate: 0 1rem;
                    text-align: center;
                    i {
                        translate: 3px 1px;
                        padding-right: 0.2rem;
                    }
                }
            }
        }
        .charts-heatmap {
            grid-column: span 20;
            grid-row: span 4;
            min-height: 200px;
            .title {
                translate: 0 8px;
            }
            #cal-heatmap {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .ch-container {
                    scale: 1.1;
                    translate: 0 -10px;
                }
            }
        }
        .charts-credits {
            grid-column: span 1;
            grid-row: span 5;
            .small-text {
                rotate: -90deg;
                font-size: 0.8rem;
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }
        }
        .charts-releases {
            grid-column: span 12;
            grid-row: span 5;
            min-height: 200px;
            .recharts-responsive-container {
                translate: -20px 0;
            }
        }
        .charts-ratings {
            grid-column: span 7;
            grid-row: span 5;
            .recharts-responsive-container {
                translate: -20px 0;
            }
        }
    }
}

.custom-tooltip {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2px 10px;
    border-radius: 6px;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);
    font-size: 1rem;
}

#ch-tooltip {
    z-index: 3;
}
