.toggle-pill-color {
    input[type="checkbox"] {
        display: none;
        & + label {
            display: block;
            position: relative;
            width: 3em;
            height: 1.6em;
            border-radius: 1em;
            background: #333333;
            box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: background 0.1s ease-in-out;
            transition: background 0.1s ease-in-out;
            &:before {
                content: "";
                display: block;
                width: 1.2em;
                height: 1.2em;
                border-radius: 1em;
                background: #fff;
                box-shadow: 2px 0px 5px rgba(202, 19, 19, 0.2);
                position: absolute;
                left: 0.2em;
                top: 0.2em;
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }
        }
        &:checked + label {
            background: rgb(148, 74, 190);
            background: linear-gradient(
                200deg,
                rgba(148, 74, 190, 1) 0%,
                rgba(155, 69, 172, 1) 46%,
                rgba(189, 53, 99, 1) 76%,
                rgba(227, 50, 39, 1) 100%
            );
            &:before {
                box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
                left: 1.6em;
            }
        }
    }
}
