.contest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    @media (max-width: 800px) {
        overflow: scroll;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    h1 {
        text-align: center;
    }
    .round {
        text-align: center;
        background: rgb(148, 74, 190);
        background: linear-gradient(
            -10deg,
            rgba(148, 74, 190, 1) 0%,
            rgba(155, 69, 172, 1) 46%,
            rgba(189, 53, 99, 1) 76%,
            rgba(227, 50, 39, 1) 100%
        );
        color: white;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        border-radius: 0.5rem 0.5rem 0 0;
        @media (max-width: 800px) {
            position: fixed;
            top: 0;
            border-radius: 0 0 0.5rem 0.5rem;
            z-index: 90;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        }
    }
    .contest-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .close {
        position: fixed;
        color: rgba(#9f41c5, 0.5);
        background: unset;
        border: none;
        font-weight: bold;
        font-size: 2.5rem;
        top: -0.2rem;
        right: -0.3rem;
        cursor: pointer;
        z-index: 999;
    }
}

.match {
    flex: 1;
    display: flex;
    border: solid #9f41c5;
    border-radius: 0.5rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    @media (max-width: 800px) {
        flex-direction: column;
        width: fit-content;
        max-width: 100vw;
        overflow: hidden;
        padding: 0;
        border: none;
        border-radius: 0;
        height: 100vh;
        gap: 0;
    }
    button {
        background: none;
        border: none;
        color: white;
        position: relative;
        transition: scale 0.2s ease-in-out;
        margin: 0;
        padding: 0;
        border-radius: 0.5rem;
        // overflow: hidden;
        @media (max-width: 800px) {
            border-radius: 0;
            width: 100%;
            height: 50%;
            max-height: 50vh;
            object-fit: fill;
        }
        @media (min-width: 800px) {
            &:hover {
                cursor: pointer;
                scale: 1.02;
                z-index: 999;
            }
        }
        img {
            border-radius: 0.5rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
            @media (max-width: 800px) {
                border-radius: 0;
                height: auto;
                width: 100%;
            }
        }
        p {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(0, 0, 0, 0.5);
            padding: 0.5rem;
            font-size: 1.5rem;
            border-radius: 0.5rem;
            backdrop-filter: blur(5px);
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
            @media (max-width: 800px) {
                font-size: 1rem;
            }
        }
    }
}

.podium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    h1 {
        text-align: center;
        transform: translateY(50%);
        @media (max-width: 800px) {
            transform: translateY(20%);
        }
    }
    @media (max-width: 800px) {
        max-width: 100vw;
        overflow: hidden;
        gap: 0rem;
    }
}

.podium-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    div {
        position: relative;
        img {
            border-radius: 0.5rem;
            @media (max-width: 800px) {
                max-width: 70vw;
                height: auto;
            }
        }
        p {
            display: none;
        }
    }
    .count {
        opacity: 0.5;
        font-weight: bold;
        @media (max-width: 800px) {
            position: absolute;
            left: -25px;
        }
    }
    &:nth-child(even):not(h1):not(:nth-child(2)) {
        transform: translateX(10%);
        @media (max-width: 800px) {
            transform: scale(0.8);
        }
    }
    &:nth-child(odd):not(h1) {
        transform: translateX(-10%);
        @media (max-width: 800px) {
            transform: scale(0.8);
        }
    }
    .winner {
        object-fit: contain;
        img {
            height: 250px;
            width: auto;
        }
        &::before {
            content: "👍";
            position: absolute;
            top: 0;
            right: -30px;
            font-size: 2rem;
            color: green;
            z-index: 999;
        }
        transition: scale 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
            scale: 1.02;
            z-index: 999;
        }
    }
    .loser {
        scale: 0.9;
        rotate: 5deg;
        object-fit: contain;
        img {
            filter: grayscale(100%);
            height: 250px;
            width: auto;
        }
        &::before {
            content: "👎";
            position: absolute;
            top: 0;
            left: -30px;
            font-size: 2rem;
            color: #9f41c5;
            z-index: 999;
        }
        transition: scale 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
            scale: 0.92;
            z-index: 999;
        }
    }
    .big-winner {
        filter: drop-shadow(0 0 1rem #9f41c5);
        padding-bottom: 3rem;
        transition: scale 0.2s ease-in-out;
        @media (max-width: 800px) {
            padding-bottom: 1.5rem;
            padding-top: 2.5rem;
        }
        img {
            border-radius: 1rem;
        }
        &::before {
            content: "🏆";
            position: absolute;
            top: 0;
            left: -50px;
            font-size: 5rem;
            color: gold;
            z-index: 999;
        }
        &:hover {
            cursor: pointer;
            scale: 1.02;
            z-index: 999;
        }
    }
}
