.menu-zone {
    position: fixed;
    transition: .5s ease-in-out;
    z-index: 199;
    background: black;
    max-width: 50rem;
    &.active {
        top: 0;
        padding: 0;
        margin-top: 0;
        box-shadow: 0rem 2rem 5rem 100rem rgba(0, 0, 0, 0.8);
    }
    &:not(.active) {
        top: -100%;
    }
    .group {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.checkZone {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    // border: solid blue;
    .check {
        flex: 1;
        min-width: 10rem;
        display: flex;
        gap: 1rem;
    }
}

#search_btn {
    border: none;
    background: red;
    position: fixed;
    top: -.6rem;
    right: 0;
    margin-right: .5rem;
    font-size: 1.5rem;
    padding: .3rem;
    padding-top: 1rem;
    transition: .3s ease-in-out;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    z-index: 200;
    &:hover {
        cursor: pointer;
        top: 0;
    }
}

.menu {
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: .8rem;
    transition: top 0.5s ease-in-out;
    margin-bottom: 1rem;
    gap: 1rem;
    .inputgroup {
        width: 48%;
        display: flex;
        input {
            width: 100%;
            background: none;
            color: white;
            border: none;
            font-size: 1rem;
            border: solid rgba(255, 0, 0, 0.171);
            padding: .5rem;
            border-radius: .8rem;
            &::placeholder {
                color: rgba(255, 0, 0, 0.5);
            }
        }
        label {
            width: 10rem;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &:hover {
        cursor: pointer;
        top: 0;
    }
    .title {
        border: solid green;
    }
    .search {
        border: solid blue;
    }
}

.submit {
    button {
        width: 100%;
        background: red;
        color: white;
        border: none;
        font-size: 1rem;
        border-radius: .8rem;
        height: 2rem;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
            background: darken(red, 10%);
        }
    }
}