.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 12rem;
    max-width: 17rem;
    height: 12rem;
    flex: 1;
    flex-direction: column;
    cursor: pointer;
    background: #1b1b1b;
    border-radius: 0.5rem;
    transition:
        transform 0.3s,
        box-shadow 0.5s,
        border 0.3s,
        box-sizing 0.3s;
    @media screen and (max-width: 768px) {
        min-width: 40%;
        max-width: 100%;
        height: 10rem;
    }
    &.favorite {
        box-shadow:
            white 0rem 0rem 0rem 0.1rem,
            red 0rem 0rem 0rem 0.2rem;
        &::after {
            content: "❤️";
            position: absolute;
            top: -0.5rem;
            right: -0.2rem;
            rotate: 45deg;
            font-size: 1.2rem;
            text-shadow:
                0.1rem 0rem 0rem white,
                0rem 0.1rem 0rem white,
                -0.1rem 0rem 0rem white,
                0rem -0.1rem 0rem white,
                0 0 0.6rem red;
            animation: fadeHeart 0.3s;
            @keyframes fadeHeart {
                from {
                    scale: 0;
                    rotate: -90deg;
                    opacity: 0;
                }
                to {
                    scale: 1;
                    rotate: 45deg;
                    opacity: 1;
                }
            }
        }
    }
    @keyframes hide {
        0% {
            scale: 1;
            opacity: 1;
            rotate: 0;
            z-index: 100;
        }
        40% {
            scale: 1.3;
            rotate: -10deg;
            opacity: 1;
        }
        100% {
            scale: 0;
            opacity: 0;
            rotate: 90deg;
            z-index: 100;
        }
    }
    .rating {
        position: absolute;
        top: 0;
        left: 1rem;
        background: red;
        padding: 0.2rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 0rem 0.4rem 0.5rem rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }
    transition: scale 0.3s;
    &:hover {
        @media (min-width: 500px) {
            z-index: 1000;
            scale: 1.2;
        }
        .data {
            align-items: center;
            justify-content: center;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            animation: fade 0.3s;
            @keyframes fade {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
            h1 {
                overflow: unset;
                text-overflow: unset;
                white-space: unset;
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 0.5rem;
    }
    .data {
        display: none;
        background: #1b1b1bbe;
        backdrop-filter: blur(10px);
        position: absolute;
        bottom: 0;
        width: calc(100% - 1rem);
        padding: 0.5rem;
        overflow: hidden;
        height: calc(100% - 1rem);
        border-radius: 0.5rem;
        h1 {
            margin: 0;
            padding: 0;
            padding-bottom: 0.6rem;
            font-size: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition:
                overflow ease-in-out 0.2s,
                text-overflow ease-in-out 0.2s,
                white-space ease-in-out 0.2s;
        }
    }
}

.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.tag {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: red;
    border: solid red 2px;
    border-radius: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background: unset;
    &.icon {
        border: none;
        font-size: 1.1rem;
    }
}

.fav .movie {
    display: none;
    &.favorite {
        display: flex;
        box-shadow: none;
        &::after {
            content: "";
        }
    }
}

.no-score .movie .rating {
    display: none;
}

.no-title .movie .data {
    display: none;
}

.big-picture .movie {
    height: 100%;
    &:hover img {
        height: 100%;
        width: 100%;
    }
    @media screen and (max-width: 768px) {
        height: 10rem;
        min-width: 6rem;
        max-width: 6rem;
    }
}
