.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-width: 12rem;
    max-width: 17rem;
    height: 12rem;
    flex: 1;
    flex-direction: column;
    cursor: pointer;
    background: #1b1b1b;
    border-radius: 1rem;
    @media screen and (max-width: 768px) {
        min-width: 8rem;
        max-width: 17rem;
    }
    &.favorite {
        border: solid red 2px;
        box-shadow: red 0rem 0rem 0.6rem;
        box-sizing: border-box;
    }
    .rating {
        // border: solid blue;
        position: absolute;
        top: 0;
        left: 1rem;
        background: red;
        padding: 0.2rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 0rem 0.4rem 0.5rem rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }
    &:hover {
        .data {
            align-items: center;
            justify-content: center;
            height: 100%;
            bottom: -1rem;
            h1 {
                overflow: unset;
                text-overflow: unset;
                white-space: unset;
            }
        }
        img {
            height: 150%;
            width: 150%;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: ease-in-out 0.3s;
        object-position: top;
    }
    .data {
        background: #1b1b1bbe;
        backdrop-filter: blur(10px);
        height: 4rem;
        position: absolute;
        bottom: -2.5rem;
        width: calc(100% - 1rem);
        padding: 0.5rem;
        overflow: hidden;
        transition: ease-in-out 0.3s;
        h1 {
            margin: 0;
            padding: 0;
            padding-bottom: 0.6rem;
            font-size: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: ease-in-out 0.2s;
        }
        .tags {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            .tag {
                margin: 0;
                padding: 0;
                font-size: 0.9rem;
                color: red;
                border: solid red 2px;
                border-radius: 0.5rem;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                background: unset;
                &.icon {
                    border: none;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

.fav .movie {
    display: none;
    &.favorite {
        display: flex;
        border: none;
        box-shadow: none;
    }
}
