.navbar {
    position: fixed;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    gap: 0.5rem;
    padding: 0.5rem;
    bottom: 0;
    left: 0;
    width: calc(100% - 2rem);
    translate: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem 0.5rem 0 0;

    @media screen and (min-width: 500px) {
        max-width: 300px;
        left: 50%;
        translate: -50%;
        padding: 0.6rem 0.6rem;
        gap: 0.6rem;
    }

    button {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        font-size: 1.25rem;
        cursor: pointer;
        transition: scale 0.2s;
        &:hover {
            scale: 1.1;
        }
        &.red {
            border: none;
            background: rgb(148, 74, 190);
            background: linear-gradient(
                200deg,
                rgba(148, 74, 190, 1) 0%,
                rgba(155, 69, 172, 1) 46%,
                rgba(189, 53, 99, 1) 76%,
                rgba(227, 50, 39, 1) 100%
            );
            color: white;
        }
        &.white {
            border: solid 0.1rem #9f41c5;
            background-color: transparent;
            color: #9f41c5;
        }
        &.big {
            width: 100%;
        }
    }
}
