#random {
    border: solid red;
    position: fixed;
    top: 4.5rem;
    left: 3rem;
    z-index: 2;
    background: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(0.5rem);
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    padding-top: 2rem;
    @media (max-width: 500px) {
        left: 1rem;
    }
    &.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &:not(.active) {
        display: none;
    }
    &:before {
        content: "";
        position: absolute;
        top: -1.2rem;
        left: 0.3rem;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 1rem solid red;
    }
    width: calc(15rem);
}

#random-poster {
    width: 15rem;
    border-radius: 0.5rem;
}

#random-year {
    width: fit-content;
}

#random-title {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

#random-close {
    color: rgba(255, 0, 0, 0.322);
    background: unset;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
    cursor: pointer;
}
